<div class="container mx-2">
    <div class="container-fluid mt-5 col-sm-6" >
        <h2>Categories</h2>
        <div class="d-flex flex-column">
            <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Juices
            </a>
            <div class="juice-container">
                <div class="d-flex justify-content-between">
                    <p class="">Lime Juice</p>
                    <button type="button" style="width: 80px; height: 30px" class="btn btn-outline-dark btn-sm">Add</button>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="">Orange Juice</p>
                    <button type="button" style="width: 80px; height: 30px">Add</button>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="">Pineapple Juice</p>
                    <button type="button" style="width: 80px; height: 30px">Add</button>
                </div>
            </div>
            <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Milk Shakes
            </a>
            <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sandwiches
            </a>
            <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lunch
            </a>
            <a class="btn btn-secondary dropdown-toggle mb-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Desserts
            </a>
        </div>
        <button type="button" class="btn btn-outline-dark">Calculate Total</button>
    </div>
</div>