<app-navbar [displayTextIn]="'categories'"></app-navbar>

<div class="container px-3">
  <div class="container-fluid mt-3 col-sm-6" >
    <div *ngIf="errorMessage else noError" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <ng-template #noError>
      <button type="button" class="btn buttons px-1 me-2 mb-2" (click)="navigateToAddItems()" *ngIf="roleMatch('Admin')">Add Item<i class="bi bi-plus-circle p-1"></i></button>
    <button type="button" class="btn buttons px-1 mb-2" (click)="navigateToAddCategory()" *ngIf="roleMatch('Admin')">Add Category<i class="bi bi-plus-circle p-1"></i></button>
    <div class="d-flex flex-column " >
      <!-- accordion start -->
      <div *ngIf="categories.length > 0; else noCategories ">
        <div class="accordion shadow mb-2" id="foodItemsAccordion">
          <div *ngFor="let category of categories" class="accordion-item  text-black">
            <h2 class="accordion-header" id="{{ category.id }}Header">
              <button class="accordion-button collapsed  text-black" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+category.id" aria-expanded="false" [attr.aria-controls]=category>
                {{ category.name }}
              </button>
            </h2>
            <div [attr.id]="category.id" class="accordion-collapse collapse " [attr.aria-labelledby]="category.id+'Header'" data-bs-parent="#foodItemsAccordion">
              <div class="accordion-body">
                <div *ngIf="getItemsByCategory(category.id).length > 0; else noItemsFound">
                  <div class="d-flex justify-content-between mb-1" *ngFor="let item of getItemsByCategory(category.id); index as indx">
        
                    <div class="d-flex flex-column">
                      
                        <b>{{item.name}}</b>
                        <p class="ms-0 mb-1"><i class="bi bi-currency-rupee"></i><small>{{item.price}}</small></p>
                    </div>
                    <div>
                      <div class="btn-group mt-2" *ngIf="!roleMatch('Admin')">
                        <button type="button" class="btn  buttons" (click)="dec(item)">-</button>
                        <button type="button" class="btn  ">{{item.quantity}}</button>
                        <button type="button" class="btn  buttons" (click)="inc(item)">+</button>                       
                      </div>
                      <div *ngIf="roleMatch('Admin')">
                        <button class="btn buttons me-1" data-bs-target="#editModal" data-bs-toggle="modal" (click)="setDefaultItems(item.uuid)"><i class="bi bi-pencil"></i></button>
                        <button class="btn buttons" data-bs-target="#deleteModal" data-bs-toggle="modal" (click)="onItemDelete(item.uuid)"><i class="bi bi-trash"></i></button>

                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noItemsFound>
                  <b>No items found.</b>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noCategories>
        <h3>No Categories Found</h3>
      </ng-template>
      <!-- accordion end -->   
    </div>
    <div class="buttons-container my-2" *ngIf="!roleMatch('Admin')">
      <button type="button" class="btn buttons " data-bs-toggle="modal" data-bs-target="#calculateModal" (click)="selectedItems()">Show Total</button>
      <button type="button" class="btn buttons ms-3" (click)="reloadComponent()">Clear</button>
    </div>
    <!-- bill summary modal -->
    <div class="modal fade" id="calculateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div *ngIf="getTotalPrice() > 0;else noItem">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Item Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                      <th scope="col">Item Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uniqueItems; index as i">
                      <th scope="row">{{i+1}}</th>
                      <td>{{item.name}}</td>
                      <td>{{item.quantity}}</td>
                      <td>{{item.price}}</td>
                      <td>{{item.quantity * item.price}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="d-flex justify-content-between">
                  <h3>Total:</h3>
                  <h3 class="pe-5 me-2"><i class="bi bi-currency-rupee"></i>{{getTotalPrice()}}</h3>
                </div>
                
              </div >
            </div>
            <ng-template #noItem>
                <h2><i class="bi bi-exclamation-circle me-2"></i>Please Add Items</h2>
            </ng-template>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
          </div>
        </div>
    </div>
    <!-- edit Modal -->
    <div class="modal fade" id="editModal" #editModal tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 *ngIf="edit" class="modal-title" id="editModalLabel"><i class="bi bi-pencil-square me-1 text-primary"></i> Update Item!</h5>
            <h5 *ngIf="!edit" class="modal-title" id="editModalLabel"> <i class="bi bi-check-circle me-2 text-success"></i>Done!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            <div *ngIf="edit">
              <form (ngSubmit)="onItemUpdate(updateForm)" #updateForm="ngForm" class="ms-2">
              

                <label>Name</label>
                <input type="text" name="name"  ngModel required #name = ngModel>
                <div>
                  <small style="color:red"  *ngIf="name.invalid && name.touched">Employee Name is required</small>
                </div>
            
                <label>Price</label>
                <input type="text" name="price" ngModel required #price = ngModel>
                <div>
                  <small  *ngIf="price.invalid && price.touched">price is required</small>
                </div>
            
                <label>Category</label><br>
                <select style="width: 300px;" name="category" class="form-control" required [class.is-invalid]="category.touched && category.invalid" #category = ngModel ngModel [(ngModel)]="model.name" >                
                  <option value="" >Select Category</option>
                  <option  *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>              
                </select>
                <div>
                  <small  *ngIf="category.invalid && category.touched">Category is required</small>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <p class="text-danger" *ngIf="validationError">{{validationError}}</p>            
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                
                </div>
              </form>
            </div>
            <div *ngIf="!edit">
              <h5 id="exampleModalLabel">Details Updated Successfully!</h5>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="editToTrue()">Ok</button>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>

    <!-- delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
         
            <div class="modal-header">
              <h5 *ngIf="delete" class="modal-title" id="editModalLabel"><i class="bi bi-trash me-1 text-danger"></i> Delete Item!</h5>
            <h5 *ngIf="!delete" class="modal-title" id="editModalLabel"> <i class="bi bi-check-circle me-2 text-success"></i>Done!</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           <div *ngIf="delete">
            <div class="modal-body">           
              <p id="exampleModalLabel">Are you sure you want to delete item permanently?</p>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-transparent" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-transparent" (click)="deleteItem()">Delete</button>
            </div>
           </div>
         
         <div *ngIf="!delete">
            <div class="modal-body">
              <h5 id="exampleModalLabel">Item Deleted Successfully!</h5>
            </div>            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteToTrue()">Ok</button>
            </div>
         </div>
          
        </div>
      </div>
    </div>

    <!-- acknowledgement modal -->
    
    
    </ng-template>
  </div>
  <ngx-ui-loader fgsColor="white" text="Please Wait" fgsType="rectangle-bounce"></ngx-ui-loader>
</div>
