<nav class="navbar bg-body-tertiary d-flex justify-content-start shadow-sm bg-body-tertiary rounded sticky-top">
    <div class="container-fluid d-flex justify-content-between mt-2">
      <h1 class="d-inline px-3"><i>Calci</i></h1>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end pe-2">
          <button type="button" class="btn buttons px-1 mb-2 " *ngIf="isLoggedIn()" (click)="logout()">Logout<i class="bi bi-box-arrow-right p-1"></i></button>
        </div>
        <h2 class="me-2" *ngIf="displayTextIn === 'categories' && !isAdmin()">Total: <i class="bi bi-currency-rupee"></i>{{getPrice()}}</h2>
      </div>
    </div>
  </nav>
